.navbar-brand img{
    height: 80px;
    
}
.nav-link{
    text-transform: uppercase;
}

.nav-link:hover{
    color:rgb(10, 10, 10) !important;
    border-top: black solid 1px;
    border-bottom: black 1px solid;
}

.navbar-nav a{
    transition: all 0.5s ease !important;
    padding: 10px;
}
.navbar-nav a:hover{
            background: rgb(255, 255, 254);
            padding: 20px;
}

.carousel-inner .carousel-item{
    height: 400px;
   background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
   
}

.iframe{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
}
.iframe >*{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.quick-link li a{
    color: white;
}

.quick-link li a:hover{
    color: rgb(247, 1, 1);
}

.fa{
    background: white;
    height: 30px;
    width: 30px;
    border-radius: 50px;
    margin: 2px;
    padding: 5px;
}

.fa:hover{
    color: red;
}